.Header {
    background-color: #333;
    color: #f1f1f1;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.Header a {
    color: #fff;
}

.line {
    display: flex;
    gap: 10px;
    align-items: center;
}