.Login {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Login>div {
    padding: 20px;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 4px #333;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}